// Define variables for your color scheme

// For example:

$eton-blue: #87BBA2;
$mint-cream: #F0F7EE;
$yellow-crayola: #FFF07C;
$cadet: #5D737E;
$gray: #464646;
$light-gray: #C4C4C4;
$black: #000000;
$white: #FFFFFF;
