// Specific CSS for your home-page
.home {
  background-color: $mint-cream;
}

 .txt-rotate {
  font-family: lato;
  color: $eton-blue;
}

h1 {
  font-family: lato;
  color: $cadet;
  font-size: 100px;
}

h2 {
  font-family: lato;
  color: $cadet;
  font-size: 40px;
}

.title_search {
  font-family: roboto;
  color: $gray;
  font-style: italic;
  font-size: larger;
}
