<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div>
    <a class="footer-redirections" href="#">Confidentiality</a>
  </div>
  <div>
    <a class="footer-redirections" href="#">General conditions</a>
  </div>
  <div>
    <a class="footer-redirections" href="#">Contact us</a>
  </div>

  <div class="footer-copyright">
    © 2021 Paw, Inc.
  </div>
</div>
