
<div class="container">
  <!--Filters bar with buttons (address, check-in, check-out, species -->
  <div class="search_bar">
    <div class= "btn btn-filter"> Address<br>Where are you?</div>
    <div class= "btn btn-filter"> Check in<br>Add a date</div>
    <div class= "btn btn-filter"> Check out<br>Add a date</div>
    <div class= "btn btn-filter"> Species<br>What animal?</div>
    <div><i class="fas fa-search"></i></div>
  </div>
  <!-- Inspiration Card Goat-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1552066318-4286142ca637?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80)">
    <div>
      <div>
        <p><strong>Adopt a goat</strong></p>
        <p> to mow your lawn </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse goats', animals_path(species: 'goat'), class: "btn-browse"%>
      </div>
    </div>
  </div>
  <!-- Inspiration Card Watch Dog-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1602272414985-91ce16201fa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1640&q=80)">
    <div>
      <div>
        <p><strong>Feel safe at home</strong></p>
        <p> with a trained watchdog </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse watchdogs', animals_path(species: 'dog'), class: "btn-browse"%>
      </div>
    </div>
  </div>
  <!-- Inspiration Card Cat-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511044568932-338cba0ad803?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80)">
    <div>
      <div>
        <p><strong>Cuddle with a soft cat</strong></p>
        <p> to relax </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse watchdogs', animals_path(species: 'cat'), class: "btn-browse"%>
      </div>
    </div>
  </div>
</div>

<p>TO DO FOOTER</p>
