.reservation-form{
  display: flexbox;
  background-color: mintcream;
  border-radius: 5px;
  box-shadow: whitesmoke;
  padding: 0 15px;
}

.bottom-page{
  display: flex;
  justify-content: space-evenly;
}
