.btn-filter {
  background-color: #F0F7EE;
  color: #5D737E;
  // border: 1px solid #5D737E;
  padding: 8px 0px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-browse {
  color: #4A4A4A;
  background-color: white;
  // border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-browse:hover {
  opacity: 1;
}

.btn-reservation {
  color: $cadet;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-reservation($gray, $cadet);
  transition: background 0.3s ease;
  border: 1px solid $cadet;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
