.card-animal {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  width: 500px;

  p {
  font-size: 12px;
  opacity: .9;
  margin: 0;
  font-weight: 200;
  }
}

.card-animal > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-animal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-animal-infos .name {
  font-size: 14px;
  font-weight: bold;
}
.card-animal .card-animal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #F0F7EE;
  margin: 3px;
  padding-top: 5px;
  border-radius:7px;
  justify-content: center;
}

.card-animal-infos .card-animal-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-animal-infos:hover{
  background-color: #d3dbd1;
}

.card-animal-infos img {
  display:block;
  position: relative;
  object-fit: cover;
  border-radius: 7px;
}


.container-index {
  display: flex;
  flex-direction: row;
}

.map {
  width: 200px;
}

.photo-animal{
  display :flex;
  flex-direction: row;
  width: fit-content;
}

.animal-infos {
  display :flex;
  flex-direction: column;
  margin: 5px;
  padding-left: 10px;
  width: 100px;
  justify-content: flex-end;
}

.animal-infos .price {
text-align: end;
font-weight: bold;
}

.animal-infos a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 10px;
  &:hover {
    color: red;
  }
}

.card-animal-infos-title {
  text-align: center;
}
