.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h2 {
    margin :0;
    font-weight: bold;
    font-size: 14px;
  }
  p {
    margin :0;
    font-style: italic;
  }
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.map {
  position: sticky;
  top: 0;
  width: 50vw;
  padding: 0px;
  margin: 0px 120px;
}
